* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --button-color-hover: #02799D;
  --bg-color: #20bba6;
  --bg-card: #323238;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  display: grid;
  place-content: center;
  height: 100vh;
}

main {
  display: flex;
  column-gap: 19.2rem;
}

.running .ph-play-circle, .running .ph-timer,
.musicON .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.musicON) .ph-speaker-high{
  display: none;
}